doctype html
html
	head
		title Lorem	ipsum dolor
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	body
		div.container
			div.row
				div.col-md-4
					h1 Testing for watch task inside gulpfile.js
				div.col-md-4
					h2 Testing for verify if live reload with browserSync are working!
				div.col-md-4
					h1 CSS not working


script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script(src='assets/js/main.min.js')
		



